<configuration>
	<Databases>
		<Database Id="Production" Name="Demo" Engine="SQLSERVER" Driver="{SQL Server}" Server="URIEL-WKSTATION\SQL2008R2" User="sa" Password="zama"/>
	</Databases>
	<Application>
		<Title>Aplicación</Title>
		<Subtitle></Subtitle>
		<Versions>
			<Version Name="Beta_12" Revision="0" Language="extjs"/>
		</Versions>
	</Application>
</configuration>
